* {
	margin: 0;
	padding: 0;
}

header {
    width: 100%;
    background: royalblue;
    overflow: hidden;
}

header h1 {
    color: aliceblue;
    font-size: 50px;
    font: oblique bold 300% cursive;
    float: left;
    line-height: 100px;
    margin-left: 10%;
}

header nav {
    float: right;
    line-height: 100px;
}

header nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-right: 25px;
    padding: 10px;
    border-radius: 30px;
}

header nav a:hover {
    font-size: 22px;
}

.registrarse {
    background: rgb(255, 153, 0);
    font: 110% sans-serif;
}

.registrarse:hover {
    background: rgb(10, 10, 9);
}

.iniciarSesion{
    background: rgb(36, 228, 19);
    font: 110% sans-serif;
}

.iniciarSesion:hover{
    background: rgb(10, 10, 9);
}

.menu {
    background: brown;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.menu a {
    float: left;
    color: aliceblue;
    text-decoration: none;
    font: 100% sans-serif;
    font-size: 20px;
    padding: 10px 50px; 
}

.menu a:hover {
    background: rgb(207, 82, 82);
}


main {
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background: #C6FFDD;  
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}

.clima {
    overflow: hidden;
    width: 90%;
    margin: auto; 
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;
}

.clima .clima_principal {
    padding-top: 20px;
}

.clima .clima_principal .temperatura {
    color: orange;
}

.clima .clima_principal .descripcion {
    color: gray;
}

.clima .clima_principal p {
    line-height: 25px;
}

.clima .proximo_dia {
    text-align: left;
    margin: 20px;
    border: 1px solid orange;
    border-radius: 20px;
    padding-bottom: 20px;
    background: white;
    overflow: hidden;
}

.clima .proximo_dia h4 {
    background: orange;
    padding: 10px;
}main {
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background: #C6FFDD;  
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}

.clima {
    overflow: hidden;
    width: 90%;
    margin: auto; 
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;
}

.clima .clima_principal {
    padding-top: 20px;
}

.clima .clima_principal .temperatura {
    color: orange;
}

.clima .clima_principal .descripcion {
    color: gray;
}

.clima .clima_principal p {
    line-height: 25px;
}

.clima .proximo_dia {
    text-align: left;
    margin: 20px;
    border: 1px solid orange;
    border-radius: 20px;
    padding-bottom: 20px;
    background: white;
    overflow: hidden;
}

.clima .proximo_dia h4 {
    background: orange;
    padding: 10px;
}

.clima .proximo_dia p {
    padding-left: 10px;
    line-height: 21px;
}

.clima .proximo_dia p {
    padding-left: 10px;
    line-height: 21px;
}

.alertas {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.alertas .alerta{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    align-content: center;
    background-color: white;
    margin : 20px;
    
    
}

.alertas .alerta .Cese{
    font: 100% sans-serif;
    background-color: rgba(72, 209, 219, 0.603);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 2px solid gray;
    color: rgba(36, 36, 36, 0.993);
}

.alertas .alerta .Aviso{
    font: 100% sans-serif;
    background-color: rgba(238, 14, 14, 0.76);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 2px solid gray;
    color: rgba(36, 36, 36, 0.993);
}

.alertas .alerta .zonas p{
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font: 110% sans-serif;
    color: rgba(77, 76, 76, 0.993);
    text-align: justify;
    border-bottom: 2px solid gray;
}

.alertas .alerta .datos p{
    padding-left: 10px;
    padding-right: 10px;
    font: 110% sans-serif;
    text-align: justify;
    align-content: center;
}

.alertas .alerta .fecha p{
    padding-left: 10px;
    padding-right: 10px;
    font: 110% sans-serif;
    color: rgba(77, 76, 76, 0.993);
    text-align: justify;
    align-content: center;
}

.alertas .alerta .update{
    font: 100% sans-serif;
    text-align: justify;
    border-top: 2px solid gray;
    color: rgba(77, 76, 76, 0.993);
}

main footer {
    margin-top: 100px;
    grid-column-start: 1;
    grid-column-end: -1;
    background: black;
    color: white;
    height: 100px;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}