* {
	margin: 0;
	padding: 0;
}

header {
    width: 100%;
    background: royalblue;
    overflow: hidden;
}

header h1 {
    color: aliceblue;
    font-size: 50px;
    font: oblique bold 300% cursive;
    float: left;
    line-height: 100px;
    margin-left: 10%;
}

header nav {
    float: right;
    line-height: 100px;
}

header nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-right: 25px;
    padding: 10px;
    border-radius: 30px;
}

header nav a:hover {
    font-size: 22px;
}

.registrarse {
    background: rgb(255, 153, 0);
    font: 110% sans-serif;
}

.registrarse:hover {
    background: rgb(10, 10, 9);
}

.iniciarSesion{
    background: rgb(36, 228, 19);
    font: 110% sans-serif;
}

.iniciarSesion:hover{
    background: rgb(10, 10, 9);
}

.menu {
    background: brown;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.menu a {
    float: left;
    color: aliceblue;
    text-decoration: none;
    font: 100% sans-serif;
    font-size: 20px;
    padding: 10px 50px; 
}

.menu a:hover {
    background: rgb(207, 82, 82);
}

main {
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background: #C6FFDD;  
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}

.clima {
    overflow: hidden;
    width: 90%;
    margin: auto; 
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;
}

.clima .clima_principal {
    padding-top: 20px;
    font-size: large;
}

.clima .clima_principal .temp_actual {
    color: orange;
}

.clima .clima_principal h3 {
    margin-top: 20px;
}

.clima .clima_principal .temp_noche {
    color: royalblue;
}

.clima .clima_principal .descripcion {
    color: gray;
}

.clima .clima_principal p {
    line-height: 25px;
}

.clima .proximo_dia {
    text-align: left;
    margin: 20px;
    border: 1px solid orange;
    border-radius: 20px;
    padding-bottom: 20px;
    background: white;
    overflow: hidden;
}

.clima .proximo_dia h4 {
    background: orange;
    padding: 10px;
}

.clima .proximo_dia p {
    padding-left: 10px;
    line-height: 21px;
}

.clima .proximo_dia p {
    padding-left: 10px;
    line-height: 21px;
}

.alertas {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 200px;
    font: 110% sans-serif;
    text-align: center;
}

.selectorDeApi{
    text-align: center;
}

.selectorDeApi #api {
    margin-top: 20px;
    padding: 4px;
    font-size: 14px;
}

.selectorDeApi .obtener {
    margin-top: 20px;
    padding: 4px;
    font-size: 14px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.selectorDeApi .obtener:hover {
    background: grey;
}

.alertas .alerta {
    margin : 20px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.alertas .alerta .Cese {
    background-color: rgba(72, 209, 219, 0.603);
    border-bottom: 2px solid gray;
    color: rgba(36, 36, 36, 0.993);
}

.alertas .alerta .Aviso {
    background-color: rgba(238, 14, 14, 0.76);
    border-bottom: 2px solid gray;
    color: rgba(36, 36, 36, 0.993);
}

.alertas .alerta h2 {
    padding: 4px;
}

.alertas .alerta .zonas p {
    padding: 7px;
    color: rgba(77, 76, 76, 0.993);
    text-align: justify;
    border-bottom: 2px solid gray;
}

.alertas .alerta .datos p {
    padding: 7px;
    text-align: justify;
    align-content: center;
}

.alertas .alerta .fecha p {
    padding: 7px;
    color: rgba(77, 76, 76, 0.993);
    text-align: justify;
    align-content: center;
}

.alertas .alerta .update {
    text-align: justify;
    border-top: 2px solid gray;
    color: rgba(77, 76, 76, 0.993);
}

footer {
    background: black;
    color: white;
    height: 100px;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Alertas almacenadas*/
.alertasAlmacenadas  {
    width: 90%;
    margin: auto;
    margin-bottom: 200px;
    font: 110% sans-serif;
    text-align: center;
    overflow: hidden;
    display: none;
}

.alertasAlmacenadas .almacenada {
    margin : 20px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    overflow: hidden;
}


.alertasAlmacenadas .almacenada .AL {
    background-color: rgba(83, 85, 224, 0.623);
    border-bottom: 2px solid gray;
    color: rgba(36, 36, 36, 0.993);
}

.alertasAlmacenadas .almacenada .AC {
    background-color: rgba(243, 97, 0, 0.664);
    border-bottom: 2px solid gray;
    color: rgba(36, 36, 36, 0.993);
}

.alertasAlmacenadas .almacenada .AC h2{
    color: black;
}

.alertasAlmacenadas .almacenada h2 {
    padding: 4px;
}

.alertasAlmacenadas .almacenada .zonas p {
    padding: 7px;
    color: rgba(77, 76, 76, 0.993);
    text-align: justify;
    border-bottom: 2px solid gray;
}

.alertasAlmacenadas .almacenada .datos p {
    padding: 7px;
    text-align: justify;
    align-content: center;
}

.alertasAlmacenadas .almacenada .fecha p {
    padding: 7px;
    color: rgba(77, 76, 76, 0.993);
    text-align: justify;
    align-content: center;
}

.alertasAlmacenadas .almacenada .update {
    text-align: justify;
    border-top: 2px solid gray;
    color: rgba(77, 76, 76, 0.993);
}