* {
	margin: 0;
	padding: 0;
}

.contenedor {
    width: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    background: #C6FFDD;  
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
}

.contenedor header {
    height: 100px;
    background: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor header h1 {
    color: aliceblue;
    font-size: 50px;
    font: oblique bold 300% cursive;
    margin-left: 10%;
}

.contenedor header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    padding: 10px;
    border-radius: 30px;
    font: 110% sans-serif;
}

.registrarse {
    background: rgb(255, 153, 0);
}

.registrarse:hover {
    background: white;
    color: rgb(255, 153, 0);
}

.iniciarSesion{
    background: rgb(36, 228, 19);
}

.iniciarSesion:hover{
    background: white;
    color: rgb(36, 228, 19);
}

.contenedor .menu {
    background: brown;
    display: flex;
    font-family: sans-serif ;
}

.contenedor .menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 50px; 
}

.contenedor .menu a:hover {
    background: rgb(207, 82, 82);
}

.contenedor main {
    width: 90%;
    height: 100vh;
    margin: auto;
    text-align: center;
}

.contenedor main h2 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor footer {
    margin-top: 100px;
    background: black;
    color: white;
    height: 100px;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}