#iniciarSesion{
    text-align: center;
}


form input{
    cursor :  text;
    margin: 10px;
    padding : 4px;
    display: block;
    
}


#iniciarSesion{
    font: 110% sans-serif;

}

#iniciarSesion a{
    font-size: 20px;
    text-decoration: none;

}

#formulario{
    display: inline-block;   
}

#info{
    text-align: center;
    font: 110% sans-serif;
    padding: 10px 50px; 


}