* {
	margin: 0;
	padding: 0;
}

.contenedor {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, auto);
    background: #C6FFDD;
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
}

.contenedor header {
    height: 100px;
    background: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor header h1 {
    color: aliceblue;
    font-size: 50px;
    font: oblique bold 300% cursive;
    margin-left: 10%;
}

.contenedor header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    padding: 10px;
    border-radius: 30px;
    font: 110% sans-serif;
}

.registrarse {
    background: rgb(255, 153, 0);
}

.registrarse:hover {
    background: white;
    color: rgb(255, 153, 0);
}

.iniciarSesion{
    background: rgb(36, 228, 19);
}

.iniciarSesion:hover{
    background: white;
    color: rgb(36, 228, 19);
}

.contenedor .menu {
    background: brown;
    display: flex;
    font-family: sans-serif ;
}

.contenedor .menu a {
    color: white;
    text-decoration: none;
    font: 100% sans-serif;
    font-size: 20px;
    padding: 10px 50px; 
}

.contenedor .menu a:hover {
    background: rgb(207, 82, 82);
}
 
.contenedor aside {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contenedor aside .filtros {
    width: 50%;
    border-radius: 20px;
    border: 1px solid gray;
    font: 100% sans-serif;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.contenedor aside .filtros div {
    margin: 10px;
    font-size: small;
}

.contenedor aside .filtros .caja_boton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor aside .filtros .caja_boton .btn_filtrar {
    width: 80%;
    font-size: 17px;
    color: royalblue;
    background: white;
    border: 1px solid royalblue;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.contenedor aside .filtros .caja_boton .btn_filtrar:hover {
    color: white;
    background: royalblue;
}

.contenedor aside .filtros div h3 {
    margin-bottom: 10px
}

.contenedor .cont_mapa {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor #mapid {
    width: 70%;
    height: 500px;
    margin: 20px;
    border: 1px solid black;
}

.contenedor .publicaciones {
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    overflow: auto;
}

.contenedor .publicaciones .card {
    width: 185px;
    height: 280px;
    background: white;
    font: 100% sans-serif;
    border-radius: 30px;
    margin: 15px;
    border: 1px solid gray;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;  
    overflow: hidden;
    cursor: pointer;
}

.publicaciones .card img {
    width: 100%;
    height: 140px;
}

.publicaciones .card .datos {
    padding: 13px;
    text-align: center;
    padding-bottom: 0px;
}

.publicaciones .card .datos h3 {
    margin-bottom: 5px;
}

.publicaciones .card .datos p {
    font-size: 15px;
    line-height: 3;
}

.publicaciones .card button {
    width: 100%;
    height: 30px;
    background: royalblue;
    color: white;
    border: none;  
    cursor: pointer;
}

.publicaciones .card button:hover {
    font-weight: bold;
}


.contenedor footer {
    margin-top: 100px;
    background: black;
    color: white;
    height: 100px;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ventana de detalles de los avisos */
.cont_ventana {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.cont_ventana .ventana {
    width: 700px;
    height: 400px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background: #FDC830;
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);
    font-family: sans-serif;
    font-size: 13px;
}

.cont_ventana .ventana .header {
    width: 100%;
    height: 10%;
    background: black;
    display: flex;
    justify-content: flex-end;
}

.cont_ventana .ventana .header button {
    width: 10%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    background: royalblue;
    color: white;
    border: none;
    cursor: pointer;
}

.cont_ventana .ventana .header button:hover {
    background: red;
}

.cont_ventana .ventana .contenido {
    width: 100%;
    height: 90%;
    display: flex;
}

.cont_ventana .ventana .contenido figure {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_ventana .ventana .contenido figure img{
    width: 80%;
    height: 80%;
    border: 1px solid gray;
}

.cont_ventana .ventana .contenido .cont_info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_ventana .ventana .contenido .cont_info .info {
    width: 80%;
    height: 80%;
    border: 1px solid gray;
    background: white;
    padding: 10px;
    overflow: auto;
} 

.cont_ventana .ventana .contenido .cont_info .info a{
    text-decoration: none;
    padding-left: 5%;
    padding-top: 4px;
    padding-bottom: 4px;
    color: royalblue;
    display: flex;
    border: 1px solid royalblue;
    border-radius: 3px;
    width: 45%;
}

.cont_ventana .ventana .contenido .cont_info .info a:hover{
    background:royalblue;
    color: white;
}